@model AdminLTE9.Models.FlightClass
@{
    ViewBag.Title = "Index";
    ViewBag.Description = "Home Page";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Flights", "Home", FormMethod.Post))
{
    <div style="padding-top:200px; padding-bottom:250px;">
        <div class="row" style="background-color: rgba(0, 4, 18, 0.74); width:1000px; height:500px; margin:0 auto; padding-top:30px;">

            <div class="row col-xs-12 col-md-12" style="padding-top:40px; padding-bottom:40px; padding-left:40px; padding-right:60px">
                <div class="col-xs-12">
                    <div class="form-group col-xs-6">
                        <label style="color:aliceblue; font-size:large;">مبدا پرواز</label>
                        <select class="form-control input-lg" name="Source" style="font-size:larger;" id="Source">
                            <optgroup label="شهرهای داخلی">
                                <option>تهران</option>
                                <option>یزد</option>
                                <option>مشهد</option>
                            </optgroup>
                            <optgroup label="شهرهای خارجی">
                                <option>لندن</option>
                                <option>پاریس</option>
                                <option>برلین</option>
                            </optgroup>
                        </select>
                    </div>

                    <div class="form-group col-xs-6">
                        <label style="color:aliceblue; font-size:large">تاریخ پرواز</label>
                        <div class="input-group date input-group-lg">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right datepicker" name="Date" id="Date">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group col-xs-6">
                        <label style="color:aliceblue; font-size:large">مقصد پرواز</label>
                        <select class="form-control input-lg" name="Destination" id="Destination" style="font-size:larger">
                            <optgroup label="شهرهای داخلی">
                                <option>تهران</option>
                                <option>یزد</option>
                                <option>مشهد</option>
                            </optgroup>
                            <optgroup label="شهرهای خارجی">
                                <option>لندن</option>
                                <option>پاریس</option>
                                <option>برلین</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="form-group col-xs-6">
                        <label style="color:aliceblue; font-size:large">کلاس پروازی</label>
                        <select class="form-control input-lg" name="Class" id="Class" style="font-size:larger">
                            <option>همه</option>
                            <option>Economy</option>
                            <option>Business</option>
                            <option>First Class</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class="form-group col-xs-4">
                        <label style="font-size:large; color:aliceblue">تعداد بزرگسال</label>
                        <input type="number" class="form-control input-lg" name="AdultNumber" id="AdultNumber" placeholder="بالای 12 سال">
                    </div>
                    <div class="form-group col-xs-4">
                        <label style="font-size:large; color:aliceblue">تعداد کودک</label>
                        <input type="number" class="form-control input-lg" name="KidNumber" id="KidNumber" placeholder="بین 2 تا 12 سال" />
                        
                    </div>
                    <div class="form-group col-xs-4">
                        <label style="font-size:large; color:aliceblue">تعداد نوزاد</label>
                        <input type="number" class="form-control input-lg" name="LarvaNumber" id="LarvaNumber" placeholder="کمتر از 2 سال" />
                    </div>
                </div>
            </div>
            <div style="padding-left:350px; padding-right:350px">
                <input class="btn btn-primary btn-block btn-success btn-lg" type="submit" value="جستجوی پرواز" style="width:300px;">
            </div>
        </div>
    </div>
}
<div class="content-wrapper">


    <div class="row">
        <div class="col-xs-12 col-md-7">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">iCheck - Checkbox &amp; Radio Inputs</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div>
                            <input type="checkbox" class="form-control" checked="checked"> Checkbox
                        </div>
                        <div>
                            <input type="checkbox" class="form-control"> Checkbox
                        </div>
                        <div>
                            <input type="checkbox" class="form-control" disabled="disabled"> Disabled Checkbox
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <input type="radio" class="form-control" checked="checked"> Radio Button
                        </div>
                        <div>
                            <input type="radio" class="form-control"> Radio Button
                        </div>
                        <div>
                            <input type="radio" class="form-control" disabled="disabled"> Disabled Radio Button
                        </div>
                    </div>
                </div>





                <div class="login-box">
                    <div class="login-logo">
                        <a href="../../index2.html"><b>صفحه ی ورود</b></a>
                    </div>
                    <!-- /.login-logo -->
                    <div class="login-box-body">
                        <p class="login-box-msg">لطفا اطلاعات کاربری خود را وارد کنید.</p>

                        <form action="../../index2.html" method="post">
                            <div class="form-group has-feedback">
                                <input type="email" class="form-control" placeholder="Email">
                                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <input type="password" class="form-control" placeholder="Password">
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>
                            <div class="row">
                                <div class="col-xs-8">
                                    <div class="checkbox icheck">
                                        <label>
                                            <input type="checkbox"> Remember Me
                                        </label>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-xs-4">
                                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                                </div>
                                <!-- /.col -->
                            </div>
                        </form>

                        <div class="social-auth-links text-center">
                            <p>- OR -</p>
                            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                                <i class="fa fa-facebook"></i> Sign in using
                                Facebook
                            </a>
                            <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                                <i class="fa fa-google-plus"></i> Sign in using
                                Google+
                            </a>
                        </div>
                        <!-- /.social-auth-links -->

                        <a href="#">I forgot my password</a><br>
                        <a href="register.html" class="text-center">Register a new membership</a>

                    </div>
                    <!-- /.login-box-body -->
                </div>
                <!-- /.login-box -->





            </div>
        </div>
    </div>
</div>
<div class="row">



    <div class="col-xs-12 col-md-7">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Bootstrap-Select</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Minimal</label>
                            <select class="selectpicker">
                                <optgroup label="Picnic">
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                </optgroup>
                                <optgroup label="Camping">
                                    <option>Tent</option>
                                    <option>Flashlight</option>
                                    <option>Toilet Paper</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Disabled</label>
                            <select class="selectpicker" disabled>
                                <option>Mustard</option>
                                <option>Ketchup</option>
                                <option>Relish</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Multiple</label>
                            <select class="selectpicker" multiple>
                                <option>Mustard</option>
                                <option>Ketchup</option>
                                <option>Relish</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Subtext</label>
                            <select class="selectpicker" data-show-subtext="true">
                                <option data-subtext="French's">Mustard</option>
                                <option data-subtext="Heinz">Ketchup</option>
                                <option data-subtext="Sweet">Relish</option>
                                <option data-subtext="Miracle Whip">Mayonnaise</option>
                                <option data-divider="true"></option>
                                <option data-subtext="Honey">Barbecue Sauce</option>
                                <option data-subtext="Ranch">Salad Dressing</option>
                                <option data-subtext="Sweet &amp; Spicy">Tabasco</option>
                                <option data-subtext="Chunky">Salsa</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="box box-default">
            <div class="box-header">
                Date Picker
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label>Date:</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right datepicker">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="box box-danger">
            <div class="box-header">
                <h3 class="box-title">Input masks</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label>Date masks:</label>

                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control" data-inputmask="'alias': 'mm/dd/yyyy'" data-mask="">
                    </div>
                </div>
                <div class="form-group">
                    <label>US phone mask:</label>

                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <input type="text" class="form-control" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="">
                    </div>
                </div>
                <div class="form-group">
                    <label>Intl US phone mask:</label>

                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <input type="text" class="form-control" data-inputmask="'mask': ['999-999-9999 [x99999]', '+099 99 99 9999[9]-9999']" data-mask="">
                    </div>
                </div>
                <div class="form-group">
                    <label>IP mask:</label>

                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-laptop"></i>
                        </div>
                        <input type="text" class="form-control" data-inputmask="'alias': 'ip'" data-mask="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row" style="width:1200px; margin:0 auto;">
    <div>
        <!-- quick email widget -->
        <div class="box box-info">
            <div class="box-header">
                <i class="fa fa-envelope"></i>

                <h3 class="box-title">Quick Email</h3>
                <!-- tools box -->
                <div class="pull-right box-tools">
                    <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip"
                            title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <!-- /. tools -->
            </div>
            <div class="box-body">
                <form action="#" method="post">
                    <div class="form-group">
                        <input type="email" class="form-control" name="emailto" placeholder="Email to:">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" placeholder="Subject">
                    </div>
                    <div>
                        <textarea class="textarea" placeholder="Message"
                                  style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                    </div>
                </form>
            </div>
            <div class="box-footer clearfix">
                <button type="button" class="pull-right btn btn-default" id="sendEmail">
                    Send
                    <i class="fa fa-arrow-circle-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>